.amazing-NFT{
    background-color: #D9E0EC33;
    padding: 80px 0;
}

.amaze-text{
    
}

.amaze-text h3{
    font-family: 'Integral CF';
    font-weight: bold;
    font-style: style;
    font-size: 28px;
}

.amaze-card-text h5{
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 20px;
}

.amaze-card-text p{
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 14px;
    color: #696969;
}